<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registered Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="top" class="list-group">
        <div id="navTop" class="list-group-item text-center">
            <h1 class="display-4 text-center">Registered Users</h1><hr>
            <large class="form-text text-muted text-center">You can use these usernames to chat with them. Eg: Hi @username how are you ?</large>
            <br><br>
            <a href="/home"><button class="btn" type="button">Back</button></a>
        </div>
    </div>

    <div class="list-group">
        <div class="list-group-item" data-spy="scroll" data-target="#top" data-offset="0" id="msgs">
            <div class="container text-center">
            <ul id="msgList">
                {{#each users as |u|}}
                <li>{{u.username}}</li>
                {{/each}}
            </ul>
            </div>
        </div>
    </div>
    
</body>
</html>