ul {
    list-style: none;
}

li {
    padding: 5px 10px;
    border: 1.5px solid rgb(216, 216, 216);
    background-color: rgb(233, 233, 233);
    width: max-content;
    border-radius: 50px;
    margin: 5px;
}

#chatInput{
    position: sticky;
    bottom: 0px;
    background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca1af, #c4e0e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca1af, #c4e0e5);
}

#navTop{ 
    background: #4ca1af; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4ca1af, #c4e0e5); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4ca1af, #c4e0e5);
}

#msgs{
    position: relative;
    height: 600px;
    overflow-y: scroll;
    background-image: url('./assets/wallpaper.jpg');
}

div#top.list-group{
    margin: 0px;
}

div.list-group{
    margin: 0px;
}